body {
  background: black;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 320px;
  background: #0d0d0d;
  padding: 20px;
  border-radius: 20px;
}

select, button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  background: #111;
  color: white;
}

button {
  border: 1px solid white;
}

#result {
  margin-top: 15px;
}
